body{
    margin: 0px;
}
a{
    text-decoration: none;
}
h2{
    color: brown;
}

header{
    height:70px;
    background-color: rgb(88, 22, 22);
}
#brand{
    color: white;
    font-size: 30px;
    float: left;
    margin-top: 1%;
    margin-left: 1%;
}
#social{
    float: right;
    margin-top: 7px;
    margin-right: 1%;
    
}
.socialImg{
    height: 50px;
}
footer{
  left: 0;
  bottom: 0%;
  width: 100%;
  background-color: rgb(88, 22, 22);;
  color: white;
  text-align: center;
  
  position:fixed;
 margin-top: 15%;

}  
/* Search block Css*/
#SideMenu{
    float: left;
    height: 600px;
    width: 15%;
    margin-top: 52px;
    margin-left: 60px;
    box-shadow: 10px 10px 25px gray;
    border-radius: 13px;
    overflow: auto;
  
    text-align:center;
    
}
.SubmitButton{
 
  width: 100px;
  height: 40px;
  background-color: green;
  border-radius:5px;
}
#sdmenu{
   text-align:left;
   margin-left: 15px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 20px;
   color:black;

}
#sdmenu p{
    text-align:left;
}
/* Quick Search block Css*/
#MenuList{
    float: right;
    height: 649px;
    width: 73%;
    margin-top: 20px;
    margin-right: 11px;
    
}
#search{
     
    margin-top: -3px;
    margin-left: 29px;
   
    height: 50px;
    width: 685px;
    float: right;
   
}
.searchbar{
    height: 32px;
    width: 641px;
    
}
#maintile{
    margin-top: 23px;
   
    height: 569px;
  }
#singletile{
    border: 5px rosybrown;
    margin-left: 9px;
    margin-right: 1%;
    margin-top: 15px;
   
    box-shadow: 10px 10px 10px grey;
    border-radius: 11px;
    height: 418px;
    background: floralwhite;
   display: flexbox;
    width: 326px;
    float: left;

  }
  .tilecomponent1{
    display: inline-block;
  }
  .tilecomponent2{

     display: inline-block; 
     /* border: 2px solid; */
     margin-top: 0%;
    
     
  }
  .componentheading{
    margin-left: 4%;
    color: brown;
    
  }
  .Ratings{
    margin-left: 4%;
    
  }
  .Timing{
    margin-left: 4%;
   color: blue
 }
 .foodType{
    margin-left: 4%;
    
 }
 .price{
     color: green;
     margin-left: 4%;
     
 }
 .buttonD{
    margin-top: 1%;
    margin-left: 4%;
    margin-bottom: 30%;
    width: 144px;
    height: 25px;
    background-color: red;
    color: white;
    border-radius: 3px;
    border: 1px;
 }
 .buttonL{
    margin-top: 1%;
    margin-left: 2%;
    width: 144px;
    height: 25px;
    background-color:orange;
    color: white;
    border-radius: 3px;
    border: 1px;
 }
 .buttonBF{
    margin-top: 1%;
    margin-left: 4%;
    width: 144px;
    height: 25px;
    background-color:blue;
    color: white;
    border-radius: 3px;
    border: 1px;
 }
 .buttonS{
    margin-top: 1%;
    margin-left: 2%;
    width: 144px;
    height: 25px;
    background-color:olive;
    color: white;
    border-radius: 3px;
    border: 1px;
 }
  .checked {
    color: orange;
  }
  
.menuImg{
    height: 196px;
    width: 320px;
    border-radius: 12px;
    margin-left: 5px;
}
/* Footer block Css */ 
@media screen and ( max-width:1211px) {
  #SideMenu{
    height: 200px;
    width: 800px;
    margin-top: 52px;
    margin-left: 50px;
    box-shadow: 10px 10px 25px gray;
    border-radius: 13px;
    background-color:white;
    overflow: visible;
    
}
#sdmenu{
  margin-left: 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  color:black;
  display:flex;
  flex-direction: row;
  
}
#sdmenu p{
  font-size: large;
  color: black;
  float:left;
  margin-left: 2px;
  
}
.TagP{
  font-size: large;
  color: black;
}
.form-Check{

  margin-top: 55px;
  color: black;
  display: inline;
}
.SubmitButton{
  float: right;
  width: 100px;
  height: 45px;
  background-color: green;
  border-radius:5px;
}
#search{   
  margin-top: 30px;
  margin-left: 29px;
  height: 50px;
  width: 685px;
  float: none;
}
.searchbar{
  height: 32px;
  width: 641px;
}
#MenuList{
  float: left;
  height: 649px;
  width: 73%;
  margin-top: 20px;
  margin-right: 11px;
  
}
#singletile{
  border: 5px rosybrown;
  margin-left:25px;
  margin-right:5px;
  margin-top: 5px;
  box-shadow: 10px 10px 10px grey;
  border-radius: 11px;
  height: 418px;
  background: floralwhite;
  display:inline-block;
  width: 326px;

}

}
@media screen and ( max-width:850px) {
  #SideMenu{
    height: 200px;
    width: 600px;
    margin-top: 52px;
    margin-left: 50px;
    box-shadow: 10px 10px 25px gray;
    border-radius: 13px;
    background-color:white;
    overflow: visible;
    
}
#sdmenu{
  margin-left:none;
  font-family: Georgia, 'Times New Roman', Times, serif;
 
  color:black;
  display:flex;
  flex-direction: row;
  
}
#sdmenu p{
  font-size: small;
  color: black;
  
  margin-left: 2px;
  
}
.TagP{

  color: black;
  height: 35px;
    width: 409px;
  text-align: center;
}
.form-Check{

  margin-top: 55px;
  color: black;
  display: inline;
}
.form-Check.form-check-inline{
  width: 900px;
  margin-top: 60px;
  margin-left: 0%;

}
.form-check-label{
  font-size: 15px;
}
.SubmitButton{
    width: 95px;
  height: 45px;
  background-color: green;
  border-radius:5px;
 float: right;
}
#search{   
  margin-top: 30px;
  margin-left: 155px;
  height: 50px;
  width: 400px;
  float: none;
}
.searchbar{
  height: 32px;
  width: 400px;
}
#MenuList{
  float: left;
  height: 649px;
  width: 73%;
  margin-top: 20px;
  margin-right: 11px;
  
}
#singletile{
  border: 5px rosybrown;
  margin-left:155px;
  margin-right:5px;
  margin-top: 5px;
  box-shadow: 10px 10px 10px grey;
  border-radius: 11px;
  height: 418px;
  background: floralwhite;
  display:inline-block;
  width: 326px;

}
}